<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FEX.NET.ApiHost" value="https://fex.net/"/>
    <add key="DataFolder" value="${LOCALAPPDATA}\FEX.NET\FexSync\${USERNAME}\sync.config"/>
    <add key="DataFolder" value="${LOCALAPPDATA}\FEX.NET\FexSync\${USERNAME}\Data"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="${LOCALAPPDATA}\FEX.NET\FexSync.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>
