<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FEX.NET.ApiHost" value="https://fex.net/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="${LOCALAPPDATA}\FEX.NET\FexSync.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>