<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <webRequestModules>
      <!--
      -->
      <remove prefix="https:"/>
      <add prefix="https:" type="ConsolePrivateTest.FexUploadHttpRequestCreator, ConsolePrivateTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </webRequestModules>
  </system.net>
</configuration>